/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Courier Prime', monospace;;
  background-image: linear-gradient(rgba(95, 93, 92, 0.65), rgba(95, 93, 92, 0.65)), url("../images/blad.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;;
  color: #000000;
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Courier Prime', monospace;;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 10rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: #a66832;
  font-family: 'Open Sans', sans-serif;
}

#mainNav .navbar-brand {
  color: a66832;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #e6a756;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: a66832;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn {
  font-weight: 700;
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;

}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #d9a05be6;
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  z-index: -1;
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: #a66832;
  color: #faf6f6;
}

.text-primary {
  color: #e6a756 !important;
}

.bg-primary {
  background-color: #e6a756 !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
  background-color: #d9a05b;
  border-color: #d9a05b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #df902a;
  border-color: #df902a;
}

.font-weight-light {
  font-weight: 100 !important;
}

/*********************************
3. Header
*********************************/

/*********************************
4. Menu
*********************************/

/*********************************
5. Home
*********************************/

/*********************************
6. The Menu
*********************************/

.themenu
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 102px;
	padding-bottom: 102px;
	border-bottom: solid 2px #c4ab9f;
}
.themenu_text_row
{
	margin-top: 24px;
}
.themenu_row
{
	margin-top: 93px;
}
.themenu_image
{
	width: 100%;
	margin-bottom: 31px;
}
.themenu_image img
{
	max-width: 100%;
}
.themenu_col
{
	width: 100%;
	padding-left: 33px;
	padding-top: 39px;
	padding-right: 28px;
	padding-bottom: 44px;
	border: solid 1px #dadada;
}
.themenu_col:hover
{
	box-shadow: 0px 27px 40px rgba(0,0,0,0.13);
}
.themenu_col_title
{
	display: inline-block;
	height: 58px;
	padding-left: 11px;
	padding-right: 16px;
	border: solid 2px #c4ab9f;
	font-size: 36px;
	line-height: 54px;
	color: #c4ab9f;
}
.dish_list
{
	margin-top: 44px;
}
.dish:not(:last-child)
{
	margin-bottom: 25px;
}
.dish_title,
.dish_price
{
	font-size: 18px;
	color: #232323;
}
.dish_price
{
	margin-left: auto;
}
.dish_contents
{
	margin-top: 3px;
}
.dish_contents ul li
{
	font-size: 14px;
	color: #636363;
}
.dish_contents ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	margin-left: 3px;
	margin-right: 3px;
	font-size: 14px;
	color: #636363;
}
.dish_order
{
	margin-top: 10px;
}
.dish_order a
{
	position: relative;
	font-size: 18px;
	color: #b49383;
}
.dish_order a::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #b49383;
	content: '';
	visibility: hidden;
	opacity: 0;
}
.dish_order a:hover::after
{
	visibility: visible;
	opacity: 1;
}

/*********************************
7. Signature Dishes
*********************************/

.sig
{
	width: 100%;
	padding-top: 102px;
	padding-bottom: 102px;
}
.sig_row
{
	margin-top: 54px;
}
.sig_dish:not(:last-child)
{
	margin-bottom: 57px;
}
.sig_content
{
	width: 100%;
	padding-right: 31px;
}
.sig_rating
{
	
}
.rating_r i::before
{
	font-family: 'Courier Prime', monospace;
	content: "\f006";
	font-style: normal;
	font-size: 10px;
	color: #d6baa0;
}
.rating_r i:not(:last-child)
{
	margin-right: 3px;
}

.sig_name
{
	font-size: 24px;
	color: #232323;
	margin-top: 1px;
}
.sig_price
{
	font-size: 24px;
	color: #232323;
}
.sig_content_list
{
	margin-top: 4px;
}
.sig_content_list ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	font-size: 16px;
	color: #636363;
	margin-left: 5px;
	margin-right: 5px;
}
.sig_content_list ul li
{
	font-size: 16px;
	color: #636363;
}
.sig_button
{
	margin-top: 37px;
}
.sig_image
{
	width: 100%;
}
.sig_image img
{
	max-width: 100%;
}

/*********************************
6. Blog
*********************************/

.blog
{
	width: 100%;
	background: #ffffffcb;
	padding-top: 195px;
	padding-bottom: 102px;
}
.blog_col
{
	margin-bottom: 70px;
}
.blog_col:nth-child(even)
{
	-webkit-transform: translateY(70px);
	-moz-transform: translateY(70px);
	-ms-transform: translateY(70px);
	-o-transform: translateY(70px);
	transform: translateY(70px);
}
.blog_post
{
	width: 100%;
}
.blog_post_image
{
	width: 100%;
}
.blog_post_image img
{
	max-width: 100%;
}
.blog_post_date
{
	position: absolute;
	left: 16px;
	top: -24px;
	width: 136px;
	height: 48px;
	background: #FFFFFF;
	text-align: center;
	border: solid 2px #d9a05b;
}
.blog_post_date a
{
	display: block;
	font-size: 16px;
	color: #232323;
	line-height: 44px;
}
.blog_post_content
{
	padding-top: 23px;
	padding-bottom: 23px;
}
.blog_post_title
{

}
.blog_post_title a
{
	font-size: 36px;
	color: #232323;
	line-height: 1.2;
}
.blog_post_title a:hover
{
	color: #f2b138;
}
.blog_post_info
{
	display: inline-block;
	margin-top: 13px;
}
.blog_post_info ul
{
	width: 100%;
	height: 30px;
	background: #f2b138;
	padding-left: 23px;
	padding-right: 26px;
}
.blog_post_info ul li,
.blog_post_info ul li a
{
	font-size: 16px;
	color: #FFFFFF;
}
.blog_post_info ul li a:hover
{
	color: #232323;
}
.blog_post_info ul li
{
	position: relative;
}
.blog_post_info ul li:not(:last-child)::after
{
	display: inline-block;
	content: '|';
	margin-left: 8px;
	margin-right: 8px;
}
.blog_post_text
{
	margin-top: 32px;
}
.load_more_row
{
	margin-top: 70px;
  text-align-last: initial;
}
.load_more_button
{
	width: 216px;
	background: #f2b138;
  text-align: center;
	border: solid 2px #f2b138;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.load_more_button:hover
{
	background: transparent;
}
.load_more_button a
{
	color: #FFFFFF;
}
.load_more_button:hover a
{
	color: #f2b138;
}

.reservations
{
	width: 100%;
	padding-top: 101px;
	padding-bottom: 75px;
}
.res_stars
{
	font-size: 36px;
	font-weight: normal;
}
.res_title
{
	font-size: 48px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 0.75;
	margin-top: 17px;
}
.res_form_container
{
	margin-top: 72px;
}
.res_input
{
	background: white;
	width: 210px;
	height: 52px;
	border: solid 1px #d9a05b;
	font-size: 16px;
	color: #000000;
	padding-left: 25px;
	outline: none;
}

.res_input:not(:last-child)
{
	margin-right: 16px;
}
.res_select
{
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background: white;
	width: 210px;
	height: 52px;
	border: solid 1px #d9a05b;
	font-size: 16px;
	color: #030303;
	padding-left: 25px;
	outline: none;
}
.res_select option
{
	color: #282828;
}
.res_button
{
	width: 216px;
	height: 48px;
	background: #d9a05b;
	color: #FFFFFF;
	border: none;
	outline: none;
	margin-top: 42px;
	font-size: 18px;
	cursor: pointer;
}

   
.testimonials {
margin-top: 40px;  
border-radius: 0.5em;  
}
.testimonial {
  margin-bottom: 3em;
  background: rgba(255, 255, 255, 0.644);
  padding: 1em;
  border-right: 10px solid #0c0c0c15;
  border-radius: 0.5em;
  min-height: 119px;
}

.testimonial:before {
  content: "";
  position: absolute;
  z-index: -1;
  -ms-transform: skew(-3deg,-2deg);
  -webkit-transform: skew(-3deg,-2deg);
  -o-transform: skew(-3deg,-2deg);
  -moz-transform: skew(-3deg,-2deg);
  bottom: 14px;
  box-shadow: 0 16px 5px rgba(0,0,0,.04);
  max-width: 90%;
  width: 90%;
  height: 30px;
  left: 1px;
}

.avatar .img-circle {
  background: #fff;
  padding: 3px;
  border: 1px solid #c5c5c5;
}

.avatar img {
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.testimonial h4, .testimonial h4 a {
  font-weight: 700;
}

.testimonial h4 {
  margin-bottom: 4px;
}

.testimonial .testimony-body {
  font-size: .9em;
}   





font-family: 'Courier Prime', monospace;
font-family: 'Open Sans', sans-serif;








